# white-list
*
!.github/
!.github/pull_request_template.md
!.gitignore
!.bashrc
!.bash_profile
!.config
!.config/nvim/
!.config/nvim/**
!.config/kitty/
!.config/kitty/**
!.config/wezterm
!.config/wezterm/**
!.config/ghostty
!.config/ghostty/**
!setup_config_symlink.sh
!versions.sh
!setup_components/
!setup_components/**
!doc/
!doc/**
!environment_setup_for_host_macos.sh
!environment_setup_for_host_ubuntu.sh
!environment_setup_for_docker_ubuntu.sh
!README.md
!TODO.md
!CONTRIBUTING.md
!AGENTS.md
!scripts/
!scripts/**

.DS_STORE
.config/nvim/lua/plugins/copilot.lua
