# white-list
*
!.github/
!.github/pull_request_template.md
!.gitignore
!.bashrc
!.bash_profile
!.aerospace.toml
!.config
!.config/clangd/
!.config/clangd/**
!.config/nvim/
!.config/nvim/**
.config/nvim/nvim-pack-lock.json
!.config/kitty/
!.config/kitty/**
!.config/wezterm
!.config/wezterm/**
!.config/ghostty
!.config/ghostty/**
!setup_config_symlink.sh
!versions.sh
!setup_components/
!setup_components/**
!setup_scripts/
!setup_scripts/**
!doc/
!doc/**
!environment_setup_for_host_macos.sh
!environment_setup_for_host_ubuntu.sh
!environment_setup_for_docker_ubuntu.sh
!README.md
!TODO.md
!CONTRIBUTING.md
!AGENTS.md
!scripts/
!scripts/**

.DS_STORE
