# ホワイトリスト形式
*

# traceするファイルを親ディレクトリから順に入れてく
!.gitignore
!.bashrc
!.bash_profile
# !.zshrc
!.config
!.config/nvim/
!.config/nvim/**
!.config/kitty/
!.config/kitty/**
!.config/wezterm
!.config/wezterm/**
!.config/ghostty
!.config/ghostty/**
!setup_config_symlink.sh
!README.md
# 各フォルダの.DS_STOREはtraceしない
.DS_STORE
